@use "sass:color";

@function to-rgb($color) {
    @return color.channel($color, "red", $space: rgb) + ", "
         + color.channel($color, "green", $space: rgb) + ", "
         + color.channel($color, "blue", $space: rgb);
}
