/* 초기화 */
html {
    height      : 100vh;
    line-height : 1.3em;
    font-family : $font-family;
    font-size   : $text-font-size;
    font-weight : $text-font-weight;
}

body {
    margin                  : 0;
    color                   : var(--text-primary);
    font-family             : inherit;
    font-size               : inherit;
    font-weight             : inherit;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

body [hidden] {
    display : none !important;
}

* {
    margin     : 0;
    padding    : 0;
    font-size  : inherit;
    box-sizing : border-box;
}

button,
select,
input,
textarea,
pre {
    font-family : inherit;
}

ul {
    list-style : none;

    li {
        list-style : none;
    }
}

a {
    text-decoration : none;
    color           : inherit;

    &:hover,
    &:focus,
    &:visited {
        text-decoration : none;
        color           : inherit;
    }
}

select {
    display    : block;
    margin     : 0;
    padding    : 0;
    cursor     : pointer;
    outline    : none;
    appearance : none;
}

// 숨김
.blind {
    @include clip;
}

:root {
    --theme-primary          : #{$theme-primary};
    --theme-primary-rgb      : #{to-rgb($theme-primary)};
    --text-primary           : #222;
    --text-secondary         : #999;
    --paper-primary          : #fff;
    --paper-secondary        : #f9f9f9;
    --paper-endpoint         : #eee;
    --component-gap          : 20px;
    --component-padding      : 20px;
    --component-shadow       : 1px 1px 8px 0 rgba(0, 0, 0, 0.07);
    --component-radius       : 8px;
    --component-border-color : #eaeaea;
    --popup-radius           : 20px;
}