@use "../import" as *;

/* 초기화 */
html {
    height      : 100vh;
    height      : 100svh;
    font-family : $font-family-list;
    font-size   : $font-size;
    font-weight : $font-weight;
    line-height : 1.3em;
}

body {
    margin                  : 0;
    font-family             : inherit;
    font-size               : inherit;
    font-weight             : inherit;
    color                   : var(--text-primary);
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

body [hidden] {
    display : none !important;
}

* {
    box-sizing : border-box;
    margin     : 0;
    padding    : 0;
    font-size  : inherit;
    //transition: all 0.5s ease-out;
}

button,
select,
input,
textarea,
pre {
    font-family : inherit;
}

ul {
    list-style : none;

    li {
        list-style : none;
    }
}

a {
    color           : inherit;
    text-decoration : none;

    &:hover,
    &:focus,
    &:visited {
        color           : inherit;
        text-decoration : none;
    }
}

select {
    display    : block;
    margin     : 0;
    padding    : 0;
    outline    : none;
    cursor     : pointer;
    appearance : none;
}

:focus-visible {
    outline-style  : auto;
    outline-color  : var(--theme-primary);
    outline-offset : 1px;
}

// 숨김
.blind {
    @include mixin-clip;
}