// 텍스트 폰트
$fonts : ("Light": $text-font-weight-light, "Regular": $text-font-weight, "Medium": $text-font-weight-medium, "Bold": $text-font-weight-bold);

// Noto Sans KR
@each $weight, $value in $fonts {
    @font-face {
        font-family : $custom-font-family;
        font-weight : $value;
        font-style  : normal;
        src         : url("../font/#{$custom-font-family}-#{$weight}.woff2") format("woff2"),
        url("../font/#{$custom-font-family}-#{$weight}.woff") format("woff"),
        url("../font/#{$custom-font-family}-#{$weight}.ttf") format("truetype");
    }
}
