@use "../import" as *;

// 텍스트 폰트
$fonts : ("Light": $font-weight-light, "Regular": $font-weight, "Medium": $font-weight-medium, "Bold": $font-weight-bold);

@each $weight, $value in $fonts {
    @font-face {
        font-family : $font-family;
        font-weight : $value;
        font-style  : normal;
        src         : url("../../font/#{$font-family}-#{$weight}.woff2") format("woff2");
    }
}
