@use "../import" as *;

html {
    --component-gap               : 16px;
    --component-padding           : 16px;
    --component-padding-secondary : 6px;
    --component-radius            : 8px;
    --popup-radius                : 20px;
    --inner-padding               : 12px;
}


@include media-tablet {
    html {
        --component-gap               : 12px;
        --component-padding           : 16px;
        --component-padding-secondary : 12px;
        --inner-padding               : 32px;
    }
}


@mixin light-theme {
    --base                    : #{function-to-rgb($color-white)};
    --base-revers             : #{function-to-rgb($color-black)};

    --component-shadow        : 1px 1px 8px 0 rgba(var(--base-revers), 0.2);

    --theme-primary           : #{$color-theme-primary};
    --theme-primary-rgb       : #{function-to-rgb($color-theme-primary)};
    --theme-secondary         : #{$color-theme-secondary};

    --text-primary            : #222222;
    --text-secondary          : #666666;
    --text-endpoint           : #999999;

    --background              : #F5F5F5;
    --background-rgb          : #{function-to-rgb(#F5F5F5)};

    --paper-primary           : #FFFFFF;
    --paper-secondary         : #F5F5F5;
    --paper-endpoint          : #EEEEEE;

    --avator-background-color : #F5F5F5;

    --component-border-color  : #EAEAEA;

    --scroll-thum             : #DDDDDD;
}

@mixin dark-theme {
    --base                    : #{function-to-rgb($color-black)};
    --base-revers             : #{function-to-rgb($color-white)};

    --component-shadow        : none;

    --theme-primary           : #{$color-theme-dark-primary};
    --theme-primary-rgb       : #{function-to-rgb($color-theme-dark-primary)};
    --theme-secondary         : #{$color-theme-dark-secondary};

    --text-primary            : #EEEEEE;
    --text-secondary          : #CCCCCC;
    --text-endpoint           : #666666;

    --background              : #0C0C0C;
    --background-rgb          : #{function-to-rgb(#0C0C0C)};

    --paper-primary           : #171717;
    --paper-secondary         : #2D2D2D;
    --paper-endpoint          : #3A3A3A;

    --avator-background-color : #666666;

    --component-border-color  : #2F2F2F;

    --scroll-thum             : #333333;
}


html[data-mode="light"] {
    @include light-theme;
}

html[data-mode="dark"] {
    @include dark-theme;
    color-scheme: dark;
}

// OS Default.
html:not([data-mode="light"]):not([data-mode="dark"]) {
    @media (prefers-color-scheme : light) {
        @include light-theme;
    }

    @media (prefers-color-scheme : dark) {
        @include dark-theme;
        color-scheme: dark;
    }
}

