.info-box {
    & + .info-box {
        margin-top : 16px
    }

    &__title {
        display       : flex;
        align-items   : center;
        margin-bottom : 2px;

        & > i {
            display       : inline-flex;
            margin-right  : 4px;
            padding       : 0 4px;
            line-height   : 14px;
            color         : #fff;
            border-radius : 4px;
            background    : var(--theme-primary);
            font-size     : 9px;
            font-style    : normal;
        }

    }

    &__date {
        margin-bottom : 4px;
        color         : var(--text-secondary);
        font-size     : 0.88em;

        @include icons(var(--text-secondary));
    }

    &__content {
        & > ul {
            li {
                position     : relative;
                padding-left : 16px;

                &:before {
                    content          : '';
                    display          : block;
                    position         : absolute;
                    top              : 0.5em;
                    left             : 4px;
                    width            : 4px;
                    height           : 4px;
                    border-radius    : 50%;
                    background-color : var(--theme-primary);
                }
            }
        }
    }


}