@use "../../import" as *;

.accordion {
    overflow      : hidden;
    border-radius : var(--component-radius);

    &:hover {
        box-shadow : var(--component-shadow);
    }

    &__title {
        @include reset-button;
        width      : 100%;
        padding    : 8px 8px 8px 18px;
        transition : all 0.2s;
        color      : var(--theme-primary);
        font-size  : 1.14em;

        & > span {
            flex        : 0 1 auto;
            width       : 100%;
            text-align  : left;
            font-weight : $font-weight-bold;
        }

        & > i {
            flex            : 0 0 auto;
            display         : inline-flex;
            align-items     : center;
            justify-content : center;
            overflow        : hidden;
            width           : 24px;
            height          : 24px;
            margin-left     : auto;
            border-radius   : 50%;
            background      : rgba(#fff, 0.4);

            & > svg {
                width           : 18px;
                height          : 18px;
                transition      : all .2s;
                object-fit      : contain;
                object-position : center;
                stroke          : var(--theme-primary);
            }
        }
    }

    &__content {
        display    : none;
        padding    : 12px;
        background : var(--paper-secondary);
    }


    &[data-expended="true"] {
        box-shadow : var(--component-shadow);

        .accordion__title {
            i {
                svg {
                    transition : all .2s;
                    transform  : rotate(0.5turn);
                }
            }
        }

        .accordion__content {
            display : block;
        }
    }

}