@use "../../import" as *;

.dropdown {
    position               : relative;
    --dropdown-icon-height : 32px;

    &[data-expended="false"] {
        .dropdown__list {
            display : none;
        }
    }

    &[data-expended="true"] {
        .dropdown__button {
            color      : #FFFFFF;
            background : var(--theme-primary);

            & > .icons > i > svg {
                stroke : #FFFFFF;
            }
        }

        .dropdown__list {
            display : block;
        }
    }


    &__button {
        @include reset-button;
        min-width     : var(--dropdown-icon-height);
        height        : var(--dropdown-icon-height);
        padding       : 0 8px;
        transition    : background-color .3s;
        color         : var(--theme-primary);
        border        : 1px solid var(--theme-primary);
        border-radius : calc(var(--dropdown-icon-height) / 2);

        & > .icons {
            @include mixin-icons(var(--theme-primary))
        }

        & > span {
            @include mixin-clip;
        }

        & > em {
            font-style : normal;
            padding    : 0 4px;
            @include media-laptop {
                display : none;
            }
        }

        &:hover {
            background : rgba(var(--theme-primary-rgb), 0.2);
        }

    }

    &__list {
        position      : absolute;
        z-index       : 99;
        top           : calc(var(--dropdown-icon-height) + 4px);
        left          : 0;
        overflow      : auto;
        width         : max-content;
        min-width     : 180px;
        max-height    : calc(100vh - 118px);
        padding       : var(--component-padding);
        border-radius : var(--component-radius);
        background    : var(--paper-primary);
        box-shadow    : var(--component-shadow);

        @include media-tablet {
            max-height : calc(100vh - 133px);
        }
    }
}