.filter {
    display : flex;
    gap     : 12px;

    &__dropdown {
        flex : 0 0 auto;
    }

    &__result {
        flex        : 0 1 auto;
        display     : flex;
        flex-wrap   : wrap;
        gap         : 8px;
        align-items : center;

        &__item {
            flex        : 0 0 auto;
            gap         : 2px;
            line-height : 16px;

            & > button {
                @include reset-button;
                display     : flex;
                align-items : center;
                min-height  : 24px;
                padding     : 4px 8px;
                color       : var(--theme-primary);
                background  : var(--paper-endpoint);
                font-size   : 0.8em;

                @include tablet {
                    gap        : 6px;
                    min-height : 20px;
                    font-size  : 0.95em;
                }

                & > div {
                    @include icons();
                    margin-right : 4px
                }

                & > em {
                    text-transform : uppercase;
                    font-weight    : $text-font-weight-bold;
                    font-style     : normal;
                }
            }

        }
    }
}