@use "../../import" as *;

.filter {
    display     : flex;
    gap         : 12px;
    align-items : center;

    &__dropdown {
        flex : 0 0 auto;
    }

    &__result {
        display : none;
        @include media-laptop {
            display     : flex;
            gap         : 6px 8px;
            flex        : 0 1 auto;
            flex-wrap   : wrap;
            align-items : center;
        }

        &__item {
            gap         : 2px;
            flex        : 0 0 auto;
            line-height : 16px;

            & > button {
                @include reset-button;
                display     : flex;
                gap         : 4px;
                align-items : center;
                min-height  : 24px;
                padding     : 4px 8px;
                background  : var(--paper-endpoint);
                font-size   : 0.8em;
                color       : var(--theme-primary);

                @include media-tablet {
                    gap        : 6px;
                    min-height : 20px;
                    font-size  : 0.95em;
                }

                & > div {
                    @include mixin-icons();
                }

                & > span {
                    font-weight : $font-weight-light;
                }

                & > em {
                    font-style     : normal;
                    font-weight    : $font-weight-bold;
                    text-transform : uppercase;
                }
            }

        }
    }
}