@use "../../import" as *;

.flex-box {
    display        : flex;
    flex-direction : column;

    &__item {
        display        : flex;
        gap            : 4px;
        flex           : 0 1 auto;
        flex-direction : column;
        width          : 100%;

        &__title {
            font-weight : $font-weight-bold;
        }

        & + .flex-box__item {
            margin-top  : 12px;
            padding-top : 12px;
            border-top  : 1px solid var(--component-border-color)
        }
    }
}