@use "../../import" as *;

.info-box {
    & + .info-box {
        margin-top : 16px
    }

    &__header {
        display       : flex;
        align-items   : center;
        margin-bottom : 2px;
    }

    &__label {
        flex: 1 1 0;
        & > em {
            color       : var(--text-secondary);
            font-style  : normal;
        }
    }
    &__meta {
        flex: 0 0 auto;
        margin-left : auto;
        display:flex;
        align-items:center;
    }
    &__date {
        @include mixin-icons(var(--text-endpoint));
        min-height : 24px;
        color      : var(--text-endpoint);
        font-size  : 0.88em;

        & > i {
            width  : 12px;
            height : 12px;
        }

        & > span {
            line-height : 20px;
        }

        & > em {
            margin-left : auto;
            color       : var(--text-secondary);
            font-style  : normal;
        }
    }

    &__content {

    }


}