@use "../../import" as *;

.info-box {
    & + .info-box {
        margin-top : 16px
    }

    &__head {
        display       : flex;
        align-items   : center;
        margin-bottom : 2px;
    }

    &__label {
        flex : 1 1 0;

        & > strong {

        }

        & > em {
            font-style : normal;
            color      : var(--text-secondary);
        }
    }

    &__meta {
        display     : flex;
        flex        : 0 0 auto;
        align-items : center;
        margin-left : auto;
    }

    &__date {
        @include mixin-icons(var(--text-endpoint));
        min-height : 24px;
        font-size  : 0.88em;
        color      : var(--text-endpoint);

        & > i {
            width  : 12px;
            height : 12px;
        }

        & > span {
            line-height : 20px;
        }

        & > em {
            margin-left : auto;
            font-style  : normal;
            color       : var(--text-secondary);
        }
    }

    &__content {

    }


}