@use "../../import" as *;

.info-box {
    & + .info-box {
        margin-top : 16px
    }

    &__title {
        display       : flex;
        align-items   : center;
        margin-bottom : 2px;

        & > i {
            font-size     : 9px;
            font-style    : normal;
            line-height   : 14px;
            display       : inline-flex;
            margin-right  : 4px;
            padding       : 0 4px;
            color         : #FFFFFF;
            border-radius : 4px;
            background    : var(--theme-primary);
        }

    }

    &__date {
        @include mixin-icons(var(--text-endpoint));
        font-size  : 0.88em;
        min-height : 24px;
        color      : var(--text-endpoint);

        & > i {
            width  : 12px;
            height : 12px;
        }

        & > span {
            line-height : 20px;
        }

        & > em {
            font-style  : normal;
            margin-left : auto;
            color       : var(--text-secondary);
        }
    }

    &__content {

    }


}