@use "../../import" as *;

.sy-table {
    $table-padding-top  : 8px;
    $table-padding-left : 10px;

    display             : flex;
    flex-direction      : column;
    border-top          : 1px solid var(--component-border-color);

    %tdPadding {
        padding : $table-padding-top $table-padding-left;
    }

    &__row {
        display       : flex;
        flex          : 1 0 auto;
        border-bottom : 1px solid var(--component-border-color);

        & > .title {
            @extend %tdPadding;
            flex        : 0 0 auto;
            padding     : 0 $table-padding-left;
            background  : rgb(var(--theme-primary-rgb), 0.05);
            font-weight : $font-weight-medium;

            @include media-dark {
                background : rgb(var(--theme-primary-rgb), 0.15);
            }

            @include media-laptop {
                flex-basis : 74px;
            }
        }

        & > .content {
            @extend %tdPadding;
            flex : 1 1 100%;
        }

    }

    & & {
        @include media-laptop {
            height : 100%;
        }
    }
}