@use "../../import" as *;

.skills {
    flex      : 1 0 auto;
    display   : flex;
    flex-wrap : wrap;
    gap       : 6px;

    & > span {
        padding        : 0 6px;
        text-transform : uppercase;
        color          : var(--text-secondary);
        background     : var(--paper-endpoint);
        font-size      : 0.86em;
        border-radius  : 2px;
    }
}

.tags {
    display     : flex;
    flex-wrap   : wrap;
    align-items : baseline;
    margin      : -2px;
    font-weight : $font-weight;

    &__item {
        flex           : 0 0 auto;
        margin         : 2px;
        padding        : 2px 6px 1px;
        line-height    : 12px;
        text-transform : uppercase;
        color          : var(--theme-primary);
        border         : 1px solid var(--theme-primary);
        border-radius  : 30px;
        font-size      : 0.86em;
    }
}