@use "../import" as *;

.detail {
    display        : flex;
    flex-direction : column;
    gap            : var(--component-gap);
    align-items    : flex-start;
    @include media-laptop {
        flex-direction : row;
    }

    &__info {
        flex          : 0 0 auto;
        overflow      : hidden auto;
        width         : 100%;
        padding       : var(--component-padding);
        border-radius : var(--component-radius);
        background    : var(--paper-primary);
        box-shadow    : var(--component-shadow);

        @include media-laptop {
            @include mixin-scrollbar();
            position   : sticky;
            top        : 0;
            width      : 320px;
            max-height : calc(100vh - 180px);
            padding       : var(--component-padding) calc(var(--component-padding) - 16px) var(--component-padding) var(--component-padding);
            scrollbar-gutter : stable;
        }
    }

    &__thumbnail {
        flex            : 0 1 auto;
        display         : flex;
        flex-wrap       : wrap;
        gap             : 8px;
        justify-content : center;
        width           : 100%;

        @include media-tablet {
            justify-content : unset;
        }

        &__item {
            max-width : 100%;

            img {
                display         : block;
                max-width       : 100%;
                object-position : center;
                object-fit      : scale-down;
            }

        }
    }

    .participation {
        display               : grid;
        grid-template-columns : repeat(auto-fit, 80px);
        gap                   : 8px;
        justify-content       : center;

        .circle-progress {
            width  : 100%;
            height : 100%;
        }
    }

    .skills {
        display : flex;

        & > div {
            & + div {
                &:before {
                    content : ",";
                    margin  : 0 2px;
                }
            }
        }
    }

    .discription {
        margin-top  : 12px;
        line-height : 1.5em;

        & > p {
            & + p {
                margin-top : 8px;
            }
        }
    }
}

