@use "../import" as *;

.detail {
    display        : flex;
    gap            : var(--component-gap);
    flex-direction : column;
    align-items    : flex-start;
    @include media-laptop {
        flex-direction : row;
    }

    &__info {
        display        : flex;
        gap            : 12px;
        flex           : 0 0 auto;
        flex-direction : column;
        overflow       : hidden auto;
        width          : 100%;
        padding        : var(--component-padding);
        box-shadow     : var(--component-shadow);
        border-radius  : var(--component-radius);
        background     : var(--paper-primary);

        @include media-tablet {
            flex-direction : row;
            align-items    : flex-start;
            .sy-table {
                flex  : 0 0 auto;
                width : 380px;
            }
            .sy-callout {
                flex : 1 1 0;
            }
        }

        @include media-laptop {
            @include mixin-scrollbar();
            position         : sticky;
            top              : 0;
            flex-direction   : column;
            width            : 420px;
            max-height       : calc(100vh - 180px);
            padding          : var(--component-padding) calc(var(--component-padding) - 16px) var(--component-padding) var(--component-padding);
            scrollbar-gutter : stable;

            .sy-table {
                width : 100%
            }
        }
    }

    &__thumbnail {
        display         : flex;
        gap             : 8px;
        flex            : 0 1 auto;
        flex-wrap       : wrap;
        justify-content : center;
        width           : 100%;

        @include media-tablet {
            justify-content : unset;
        }

        &__item {
            max-width : 100%;

            img {
                display         : block;
                max-width       : 100%;
                object-position : center;
                object-fit      : scale-down;
            }

        }
    }

    .participation {
        display        : flex;
        gap            : 8px;
        //display               : grid;
        //grid-template-columns : repeat(auto-fit, 80px);
        flex-direction : column;
        //justify-content       : center;

        .sy-progress__circle {
            width  : 100%;
            height : 100%;
        }
    }

    .skills {
        display : flex;

        & > div {
            & + div {
                &:before {
                    content : ",";
                    margin  : 0 2px;
                }
            }
        }
    }

    .discription {
        line-height : 1.5em;

        & > p {
            & + p {
                margin-top : 8px;
            }
        }
    }
}

