@use "../import" as *;

.container {
    position   : relative;
    min-height : 100vh;
    background : var(--paper-secondary);

    &__background {
        position   : absolute;
        top        : 0;
        right      : 0;
        left       : 0;
        width      : 100%;
        height     : $size-containter_background_height;
        background : url("/assets/images/background.png") center repeat var(--paper-primary);
        z-index    : 1;

        &:before {
            content    : "";
            display    : block;
            position   : absolute;
            top        : 0;
            right      : 0;
            bottom     : 0;
            left       : 0;
            width      : 100%;
            height     : 100%;
            background : rgba(255, 255, 255, 0.5);
        }
    }

    &__inner {
        display        : flex;
        position       : relative;
        flex-direction : column;
        gap            : var(--component-gap);
        align-items    : center;
        padding        : 0 var(--inner-padding) var(--inner-padding);
        z-index        : 2;

        @include media-tablet {
            flex-direction : row;
            align-items    : flex-start;
        }

        .profile {
            flex          : 0 1 auto;
            width         : 100%;
            margin-top    : $size-header-height;
            padding       : var(--component-gap) calc(var(--component-gap) / 2);
            border-radius : var(--component-radius);
            background    : var(--paper-primary);
            box-shadow    : var(--component-shadow);

            @include media-tablet {
                @include mixin-scrollbar(#DDDDDD);
                flex               : 0 0 auto;
                position           : sticky;
                top                : $size-header-height;
                overflow           : hidden auto;
                width              : 360px;
                max-height         : calc(100vh - var(--max-height-outer));
                padding            : var(--component-gap);
                --max-height-outer : calc(var(--inner-padding) + #{$size-header-height});
            }
        }

        .works {
            flex        : 0 1 auto;
            width       : 100%;
            margin-top  : -$size-header-height;
            padding-top : $size-header-height;

            @include media-tablet {
                margin-top  : 0;
                padding-top : calc(var(--component-gap) + $size-containter_background_height);
            }

            .works-top {
                display          : flex;
                position         : sticky;
                top              : $size-header-height;
                padding          : var(--component-padding-secondary);
                border           : 1px solid rgba(var(--theme-primary-rgb), 0.4);
                border-radius    : var(--component-radius);
                background-color : rgba(255, 255, 255, 0.2);
                z-index          : 10;
                backdrop-filter  : blur(12px);

                @include media-tablet {
                    align-items : center;
                }

                .filter {
                }

                .total {
                    flex        : 0 0 auto;
                    margin-left : auto;

                    strong {
                        color : var(--theme-primary);
                    }
                }
            }

            .projects {
                margin-top : 20px;
            }
        }

    }
}
