@use "../import" as *;

.container {
    position   : relative;
    min-height : 100vh;
    background : var(--background);
    min-width:280px;

    &__background {
        position   : absolute;
        top        : 0;
        right      : 0;
        left       : 0;
        width      : 100%;
        height     : $size-containter_background_height;
        background : url("/assets/images/background.png") center repeat var(--paper-primary);
        z-index    : 1;

        &:before {
            content    : "";
            display    : block;
            position   : absolute;
            top        : 0;
            right      : 0;
            bottom     : 0;
            left       : 0;
            width      : 100%;
            height     : 100%;
            background : rgba(var(--base-rgb), 0.5);
        }
    }

    &__inner {
        display        : flex;
        position       : relative;
        flex-direction : column;
        gap            : var(--component-gap);
        align-items    : center;
        padding        : 0 var(--inner-padding) var(--inner-padding);
        z-index        : 2;

        @include media-tablet {
            flex-direction : row;
            align-items    : flex-start;
        }

        .profile {
            flex          : 0 1 auto;
            width         : 100%;
            margin-top    : $size-header-height;
            padding       : var(--component-padding);
            border-radius : var(--component-radius);
            background    : var(--paper-primary);
            box-shadow    : var(--component-shadow);

            @include media-tablet {
                @include mixin-scrollbar();
                flex               : 0 0 auto;
                position           : sticky;
                top                : $size-header-height;
                overflow           : hidden auto;
                width              : 360px;
                max-height         : calc(100vh - var(--max-height-outer));
                padding            : var(--component-padding) calc(var(--component-padding) - 16px) var(--component-padding) var(--component-padding);
                --max-height-outer : calc(var(--inner-padding) + #{$size-header-height});
                scrollbar-gutter   : stable;
            }
        }

        .works {
            flex        : 0 1 auto;
            width       : 100%;
            margin-top  : -$size-header-height;
            padding-top : $size-header-height;

            @include media-tablet {
                margin-top  : 0;
                padding-top : calc(var(--component-gap) + $size-containter_background_height);
            }

            .works-top {
                display          : flex;
                position         : sticky;
                top              : 0;
                padding          : var(--component-padding-secondary);
                border           : 1px solid rgba(var(--theme-primary-rgb), 0.4);
                border-radius    : var(--component-radius);
                z-index          : 10;
                background-color : rgba(var(--background-rgb), 0.8);
                backdrop-filter  : blur(12px);


                @include media-tablet {
                    align-items : center;
                    top         : $size-header-height;
                }

                .filter {
                }

                .counter {
                    flex         : 0 1 auto;
                    display      : flex;
                    gap          : 4px;
                    align-items  : center;
                    margin-left  : auto;
                    padding-left : 8px;
                    text-align   : right;
                    white-space  : nowrap;
                    font-size    : 0.9em;

                    span {
                        @include media-laptop {
                            display : none;
                        }
                    }

                    .total {
                        order   : 1;
                        opacity : 0.7;
                        @include media-laptop {
                            order   : 3;
                            opacity : 1;
                        }
                    }

                    .bar {
                        order   : 2;
                        opacity : 0.5;
                        @include media-laptop {
                            opacity : 1;
                            &:before {
                                content         : "/";
                                display         : inline-flex;
                                align-items     : center;
                                justify-content : center;
                            }
                        }
                    }

                    .current {
                        order : 3;
                        color : var(--theme-primary);
                        @include media-laptop {
                            order : 1;
                        }
                    }
                }
            }

            .projects {
                margin-top : var(--component-gap);
            }
        }

    }
}
