@use "../import" as *;

.no-page {
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : 100vw;
    height          : 100vh;
    background      : var(--paper-secondary);
    @at-root .popup & {
        width  : 100%;
        height : 100%;
    }
    &__box {
        display         : flex;
        gap             : var(--component-gap);
        flex-direction  : column;
        align-items     : center;
        justify-content : center;
        min-width       : 300px;
        min-height      : 200px;
        padding         : calc(var(--component-padding) * 2);
        border          : 1px solid var(--theme-primary);
        border-radius   : var(--component-radius);
        background      : rgba(var(--theme-primary-rgb), 0.05);

        @include media-tablet {
            min-width  : unset;
            min-height : unset;

        }

        & > h1 {
            font-size   : 30px;
            line-height : 1.2em;
            color       : var(--theme-primary);
            text-align  : center;
        }
    }
}