.accordion-item {
    .accordion-title {
        @include reset-button;
        width         : 100%;
        padding       : 8px;
        border-bottom : 1px solid var(--text-primary);
        font-size     : 1.14em;

        span {
            flex        : 0 1 auto;
            width       : 100%;
            font-weight : $text-font-weight-bold;
            text-align  : left;
        }

        i {
            display         : inline-flex;
            flex            : 0 0 auto;
            align-items     : center;
            justify-content : center;
            overflow        : hidden;
            width           : 24px;
            height          : 24px;
            margin-left     : auto;
            background    : rgba(var(--theme-primary-rgb), 0.4);
            border-radius:50%;

            svg {
                width           : 18px;
                height          : 18px;
                transition      : all .2s;
                object-fit      : contain;
                object-position : center;
            }
        }
    }

    .accordion-box {
        display : none;
        padding : 8px;
    }

    &[data-expended="true"] {
        .accordion-title {
            i {
                svg {
                    transition : all .2s;
                    transform  : rotate(0.5turn);
                }
            }
        }

        .accordion-box {
            display : block;
        }
    }

    @include laptop {
        .accordion-title {
            i {
                display : none;
            }
        }
        .accordion-box {
            display : block;
        }
    }

}