.filter {
    display        : flex;
    gap            : 12px;

    &__dropdown {
        flex : 0 0 auto;
    }

    &__result {
        display     : flex;
        align-items : center;
        flex        : 0 1 auto;
        flex-wrap   : wrap;
        gap         : 8px;

        &__item {
            line-height : 16px;
            display     : flex;
            align-items : center;
            flex        : 0 0 auto;
            min-height  : 20px;
            padding     : 4px 8px;
            color       : var(--theme-primary);
            background  : var(--paper-endpoint);
            gap         : 6px;

            & > button {
                @include reset-button;

                & > div {
                    @include icons();
                }
            }
            & > em {
                font-style: normal;
                font-weight: $text-font-weight-bold;
                text-transform : uppercase;
            }
        }
    }
}