.ul-table {
    $table-padding-top  : 8px;
    $table-padding-left : 10px;

    display             : flex;

    flex-direction      : column;

    %tdPadding {
        padding : $table-padding-top $table-padding-left;
    }

    &__row {
        display : flex;
        flex    : 1 0 auto;

        & > .title {
            @extend %tdPadding;
            font-weight   : $text-font-weight-medium;
            flex          : 0 0 auto;
            padding : 0 $table-padding-left;
            color         : #999999;
            background : rgb(var(--theme-primary-rgb), 0.05);

            @include laptop {
                flex-basis : 120px;
            }
        }

        & > .content {
            @extend %tdPadding;
            flex : 1 1 100%;
        }

    }

    & & {
        @include laptop {
            height : 100%;
        }
    }
}