.tags {
    display     : flex;
    flex-wrap   : wrap;
    align-items : baseline;
    margin      : -2px;
    font-weight : $text-font-weight;

    .tag {
        flex          : 0 0 auto;
        margin        : 2px;
        padding       : 2px 10px;
        border        : 1px solid #000;
        border-radius : 30px;
        font-size     : 12px;

    }
}