@use "../../import" as *;
@use "sass:math" as math;

.sy-button {
    @include reset-button;
    $height       : 36px;
    height        : $height;
    padding       : 0 20px;
    border-radius : math.div($height, 2);


    &--primary {
        background : var(--theme-primary);
        color      : #FFFFFF;

        &:hover,
        &:visited,
        &:link {
            color : #FFFFFF;
        }
    }
}