.ui-checkbox {
    display     : flex;
    gap         : 6px;
    align-items : center;
    padding     : 4px 2px;
    line-height : 1.2em;
    cursor      : pointer;
    font-size   : 0.9em;

    & > input {
        transform    : scale(1.1);
        accent-color : var(--theme-primary);
    }

    & > em {
        text-transform : uppercase;
        font-style     : normal;
    }
}