.ui-checkbox {
    font-size   : 0.9em;
    line-height : 1.2em;
    display     : flex;
    align-items : center;
    padding     : 4px 2px;
    cursor      : pointer;
    gap         : 6px;

    & > input {
        transform    : scale(1.1);
        accent-color : var(--theme-primary);
    }

    & > em {
        font-style     : normal;
        text-transform : uppercase;
    }
}