@use "../../import" as *;

.sy-checkbox {
    display     : flex;
    gap         : 6px;
    align-items : center;
    padding     : 4px 2px;
    font-size   : 1em;
    line-height : 1.2em;
    cursor      : pointer;


    & > input {
        transform    : scale(1.1);
        accent-color : var(--theme-primary);
    }

    & > em {
        font-style     : normal;
        text-transform : uppercase;
    }
}