@use "../../import" as *;

.sy-chip{
    display       : inline-flex;
    padding       : 1px 6px 0 6px;
    line-height   : 14px;
    color         : #FFFFFF;
    border-radius : 4px;
    background    : var(--theme-primary);
    font-size     : 9px;
    font-style    : normal;
}