.circle-progress {
    position : relative;
    width    : 100px;
    height   : 100px;

    & > svg {
        width     : 100%;
        height    : 100%;
        transform : rotate(-90deg);
    }

    &__frame {
        fill   : none;
        stroke : var(--paper-endpoint);
    }

    &__bar {
        fill           : none;
        stroke         : url(#gradient);
        stroke-linecap : round;
    }

    &__value {
        display         : flex;
        position        : absolute;
        flex-direction  : column;
        gap             : 4px;
        align-items     : center;
        justify-content : center;
        top             : 0;
        right           : 0;
        bottom          : 0;
        left            : 0;
        padding         : 16px;
        text-align      : center;
        color           : var(--text-primary);
        font-size       : 1rem;

        strong {
            line-height    : 1.2em;
            text-transform : uppercase;
            word-break     : break-all;
            color          : var(--theme-primary);
            font-size      : 0.8em;
        }

        span {

        }
    }
}
