.list-bullet {
    display        : flex;
    gap            : 8px;
    flex-direction : column;

    & > li {
        position     : relative;
        padding-left : 16px;

        &:before {
            content          : "";
            position         : absolute;
            top              : 0.5em;
            left             : 4px;
            display          : block;
            width            : 4px;
            height           : 4px;
            border-radius    : 50%;
            background-color : var(--theme-primary);
        }
    }
}