.sy-list {
    &.bullet {
        display        : flex;
        flex-direction : column;
        gap            : 8px;

        & > li {
            position     : relative;
            padding-left : 16px;

            &:before {
                content          : "";
                display          : block;
                position         : absolute;
                top              : 0.5em;
                left             : 4px;
                width            : 4px;
                height           : 4px;
                border-radius    : 50%;
                background-color : var(--theme-primary);
            }
        }
    }
}