@use "../../import" as *;
.sy-progress {
    position : relative;
    width    : 100px;
    height   : 100px;
    &__circle {
        position : relative;
        width    : 100px;
        height   : 100px;

        & > svg {
        width     : 100%;
        height    : 100%;
        transform : rotate(-90deg);
    }

        &__frame {
            fill   : none;
            stroke : var(--paper-endpoint);
        }

        &__bar {
            fill           : none;
            stroke         : url(#gradient);
            stroke-linecap : round;
            transition: stroke-dashoffset 0.6s ease;
        }

        &__value {
            display         : flex;
            position        : absolute;
            flex-direction  : column;
            gap             : 4px;
            align-items     : center;
            justify-content : center;
            top             : 0;
            right           : 0;
            bottom          : 0;
            left            : 0;
            padding         : 16px;
            text-align      : center;
            color           : var(--text-primary);
            font-size       : 1rem;

            strong {
                line-height    : 1.2em;
                text-transform : uppercase;
                word-break     : break-all;
                color          : var(--theme-primary);
                font-size      : 0.8em;
            }

            span {

            }
        }
    }
    &__bar{
        display:flex;
        flex-direction:column;
        gap:4px;
        &__info {
            display:flex;
            gap:8px;
        }
        &__track{
            position: relative;
            height: 12px;
            border-radius: 12px;
            background: var(--paper-secondary);
            max-width: 320px;
            width:100%;
            background: var(--paper-endpoint);
        }
        &__value{
            position: absolute;
            top:0;
            left:0;
            height:100%;
            background:linear-gradient(90deg, var(--theme-primary) 0 , var(--theme-secondary) 100%);
            border-radius: inherit;
            transition: width 0.6s ease;
            display:block;
        }
    }
}
