@use "../../import" as *;

.sy-progress {
    position : relative;
    width    : 100px;
    height   : 100px;

    &__circle {
        position : relative;
        width    : 100px;
        height   : 100px;

        & > svg {
            width     : 100%;
            height    : 100%;
            transform : rotate(-90deg);
        }

        &__frame {
            fill   : none;
            stroke : var(--paper-endpoint);
        }

        &__bar {
            transition     : stroke-dashoffset 0.6s ease;
            fill           : none;
            stroke         : url(#gradient);
            stroke-linecap : round;
        }

        &__value {
            position        : absolute;
            top             : 0;
            bottom          : 0;
            left            : 0;
            right           : 0;
            display         : flex;
            gap             : 4px;
            flex-direction  : column;
            align-items     : center;
            justify-content : center;
            padding         : 16px;
            font-size       : 1rem;
            color           : var(--text-primary);
            text-align      : center;

            strong {
                font-size      : 0.8em;
                line-height    : 1.2em;
                color          : var(--theme-primary);
                text-transform : uppercase;
                word-break     : break-all;
            }

            span {

            }
        }
    }

    &__bar {
        display        : flex;
        gap            : 4px;
        flex-direction : column;

        &__info {
            display : flex;
            gap     : 8px;
        }

        &__track {
            position      : relative;
            width         : 100%;
            max-width     : 320px;
            height        : 12px;
            border-radius : 12px;
            background    : var(--paper-secondary);
            background    : var(--paper-endpoint);
        }

        &__value {
            position      : absolute;
            top           : 0;
            left          : 0;
            display       : block;
            height        : 100%;
            border-radius : inherit;
            background    : linear-gradient(90deg, var(--theme-primary) 0, var(--theme-secondary) 100%);
            transition    : width 0.6s ease;
        }
    }
}
