@use "sass:math" as math;
@use "../../import" as *;

.ui-switch {
    $height  : 20px;
    $gap     : 2px;
    $border  : 2px;
    $width   : ($height - $gap - $border ) * 2;

    position : relative;
    display  : flex;
    width    : $width;
    height   : $height;
    cursor   : pointer;

    &:hover {
        opacity : 1;
    }

    & > input {
        @include mixin-clip;

        &:checked + .ui-switch__button {
            background : var(--theme-primary);

            &:before {
                left       : $width -  $height + $gap;
                background : #FFFFFF;
            }
        }
    }

    &__button {
        position      : relative;
        width         : 100%;
        height        : 100%;
        transition    : all 0.2s;
        opacity       : 0.85;
        border        : $border solid var(--theme-primary);
        border-radius : math.div($height, 2);

        &::before {
            position      : absolute;
            top           : $gap;
            left          : $gap;
            display       : block;
            height        : calc(100% - $gap * 2);
            content       : "";
            transition    : all 0.2s;
            border-radius : 50%;
            background    : var(--theme-primary);
            aspect-ratio  : 1;

        }
    }
}
