@use "sass:math" as math;
@use "../../import" as *;

.switch {
    $height  : 20px;
    $gap     : 2px;
    $border  : 2px;
    $width   : ($height - $gap - $border ) * 2;

    position : relative;
    display  : flex;
    width    : $width;
    height   : $height;
    cursor   : pointer;

    &:hover {
        opacity : 1;
    }

    & > input {
        @include mixin-clip;

        &:focus-visible + .switch__button {
            outline-style  : auto;
            outline-color  : var(--theme-primary);
            outline-offset : 1px;
        }

        &:checked + .switch__button {
            border-color : var(--theme-primary);
            background   : var(--theme-primary);

            &:before {
                left       : $width -  $height + $gap;
                background : #FFFFFF;
            }
        }
    }

    &__button {
        position      : relative;
        width         : 100%;
        height        : 100%;
        border        : $border solid #DDDDDD;
        border-radius : math.div($height, 2);
        transition    : all 0.2s;
        opacity       : 0.85;

        &::before {
            content       : "";
            position      : absolute;
            top           : $gap;
            left          : $gap;
            display       : block;
            height        : calc(100% - $gap * 2);
            border-radius : 50%;
            background    : #DDDDDD;
            transition    : all 0.2s;
            aspect-ratio  : 1;

        }
    }
}
