@use "sass:math" as math;
@use "../../import" as *;

.popup-warp {
    display             : flex;
    position            : fixed;
    align-items         : center;
    justify-content     : center;
    top                 : 0;
    right               : 0;
    bottom              : 0;
    left                : 0;
    background          : rgba(var(--base-rgb), 0.4);
    z-index             : 300;
    overscroll-behavior : contain;
}

.popup {
    $mobile-padding     : 20px;
    $laptop-padding     : 36px;

    display             : flex;
    position            : relative;
    flex-direction      : column;
    width               : 100vw;
    height              : 100vh;
    height              : 100svh;
    background          : var(--paper-secondary);
    z-index             : 1;
    overscroll-behavior : contain;

    @include media-laptop {
        width         : calc(100vw - $laptop-padding * 2);
        height        : auto;
        max-height    : calc(100vh - $laptop-padding * 2);
        max-height    : calc(100svh - $laptop-padding * 2);
        border-radius : var(--popup-radius);
        box-shadow    : var(--component-shadow);
    }

    &__title {
        flex        : 0 0 50px;
        display     : flex;
        align-items : center;
        padding     : math.div($mobile-padding, 2) $mobile-padding;

        @include media-laptop {
            padding : math.div($laptop-padding, 2) $laptop-padding;
        }

        & > h1 {
            flex        : 1 0 0;
            line-height : 1.3em;
            font-size   : 1.750em;
        }

        &__close {
            @include reset-button;
            @include mixin-closeIcon(40px, 24px, var(--text-primary));
            flex     : 0 0 auto;
            position : relative;
        }

    }

    &__container {
        @include mixin-scrollbar();
        flex                : 0 1 auto;
        overflow            : auto;
        padding             : 0 $mobile-padding $mobile-padding $mobile-padding;
        overscroll-behavior : contain;

        @include media-laptop {
            padding          : 0 ($laptop-padding - 16px) $laptop-padding $laptop-padding;
            scrollbar-gutter : stable;
        }
    }
}

//
//.dim {
//    position   : absolute;
//    display    : block;
//    width      : 100%;
//    height     : 100%;
//    background : rgba(0, 0, 0, 0.6);
//}