@use "sass:math" as math;
@use "../../import" as *;

.popup-warp {
    position            : fixed;
    z-index             : 300;
    top                 : 0;
    right               : 0;
    bottom              : 0;
    left                : 0;
    display             : flex;
    align-items         : center;
    justify-content     : center;
    background          : rgba(var(--base), 0.4);
    overscroll-behavior : contain;
}

.popup {
    $mobile-padding     : 20px;
    $laptop-padding     : 36px;

    position            : relative;
    z-index             : 1;
    display             : flex;
    flex-direction      : column;
    width               : calc(100vw - $mobile-padding * 2);
    height              : auto;
    max-height          : calc(100vh - $mobile-padding * 2);
    max-height          : calc(100svh - $mobile-padding * 2);
    border-radius       : var(--popup-radius);
    background          : var(--paper-secondary);
    overscroll-behavior : contain;

    @include media-laptop {
        width      : calc(100vw - $laptop-padding * 2);
        max-height : calc(100vh - $laptop-padding * 2);
        max-height : calc(100svh - $laptop-padding * 2);
    }

    &__title {
        display     : flex;
        align-items : center;
        flex        : 0 0 50px;
        padding     : math.div($mobile-padding, 2) $mobile-padding;

        @include media-laptop {
            padding : math.div($laptop-padding, 2) $laptop-padding;
        }

        & > h1 {
            font-size   : 1.750em;
            line-height : 1.3em;
            flex        : 1 0 0;
        }

        &__close {
            @include reset-button;
            @include mixin-closeIcon(40px, 24px, var(--text-primary));
            position : relative;
            flex     : 0 0 auto;
        }

    }

    &__container {
        @include mixin-scrollbar(#DDDDDD);
        overflow            : auto;
        flex                : 0 1 auto;
        padding             : 0 $mobile-padding $mobile-padding $mobile-padding;
        overscroll-behavior : contain;

        @include media-laptop {
            padding : 0 $laptop-padding $laptop-padding $laptop-padding;
        }
    }
}

//
//.dim {
//    position   : absolute;
//    display    : block;
//    width      : 100%;
//    height     : 100%;
//    background : rgba(0, 0, 0, 0.6);
//}