.profile {
    margin-top  : -$header-height;
    padding-top : $header-height;

    &__card {
        display         : flex;
        flex-wrap       : wrap;
        gap             : 20px;
        align-items     : center;
        justify-content : center;
        margin-bottom   : var(--component-gap);

        @include laptop {
            flex-direction  : column;
            align-items     : center;
            justify-content : center;
        }

        &__avatar {
            flex : 0 0 auto;
            @include avatar(92px);
        }

        &__info {
            display        : flex;
            flex-direction : column;
            gap            : 2px;

            &__title {
                font-size : 1.29em;
                @include laptop {
                    text-align : center;
                }
            }

            &__sub-title {
                margin-bottom : 12px;
                font-size     : 14px;
                @include laptop {
                    text-align : center;
                }
            }

            &__content {
                @include icons(var(--text-secondary));
                color     : var(--text-secondary);
                font-size : 12px;

                @include unify-parent("a") {
                    &:visited,
                    &:link {
                        color : var(--text-secondary);
                    }
                    &:hover {
                        text-decoration : underline;
                        color           : var(--text-secondary);
                    }
                }
            }
        }

        &__skills {
            display         : flex;
            gap             : 8px;
            align-items     : center;
            justify-content : center;

            & > div {
                flex   : 0 0 auto;
                width  : 80px;
                height : 80px;

            }
        }
    }

    &__blocks {
        display        : flex;
        flex-direction : column;
        gap            : 4px;

    }

}