.detail {

    @include laptop{
        display:flex;
        flex-wrap:wrap;
        align-items: center;
        justify-content: center;
    }

    &__info {
        padding:var(--component-padding);
        background: var(--paper-primary);
        box-shadow: var(--component-shadow);
        border-radius:var(--component-radius)
    }

}