.detail {
    display        : flex;
    flex-direction : column;
    gap            : var(--component-gap);
    @include laptop {
        flex-direction : row;
    }

    &__info {
        flex          : 0 0 auto;
        width         : 100%;
        padding       : var(--component-padding);
        border-radius : var(--component-radius);
        background    : var(--paper-primary);
        box-shadow    : var(--component-shadow);

        @include laptop {
            width : 380px;
        }
    }

    &__thumbnail {
        flex            : 0 1 auto;
        display         : flex;
        flex-wrap       : wrap;
        gap             : 8px;
        justify-content : center;
        width           : 100%;

        @include tablet{
                justify-content : unset;
        }

        &__item {
            max-width : 100%;

            img {
                display         : block;
                max-width       : 100%;
                object-position : center;
                object-fit      : scale-down;
            }

        }
    }


    .skills {
        display : flex;

        & > div {
            & + div {
                &:before {
                    content : ',';
                    margin  : 0 2px;
                }
            }
        }
    }

    .discription {
        margin-top  : 12px;
        line-height : 1.5em;

        & > p {
            & + p {
                margin-top : 8px;
            }
        }
    }
}

