.filter {
    display   : flex;
    flex-wrap : wrap;
    margin    : 0 -4px;
    padding   : 16px 0;

    [class*="filter-"] {
        margin : 4px;
        flex   : 1 0 auto;

        @include laptop {
            flex-grow : 0;
        }

        &.filter-date {
            width : 15em;
        }
    }
}

.visual-banner-area {
    $bannerHeight : 242px;
    flex          : 0 0 auto;
    height        : $bannerHeight;
    background    : url('/public/assets/images/banner_bg.png') top right no-repeat #F5F6FD;

    button {
        @include reset-button;
        position  : absolute;
        right     : 36px;
        top       : 20px;
        color     : #999999;
        font-size : 0.88rem;
    }

    .banner-text {
        position        : relative;
        display         : flex;
        flex-direction  : column;
        justify-content : center;
        min-height      : $bannerHeight;

        p {
            @include reset;
            padding    : 0 30px;
            word-break : keep-all;

            @include laptop() {
                max-width : 620px;
            }

            &.banner-title {
                font-size     : 1.75rem;
                font-weight   : $text-font-weight-bold;
                color         : var(--primary);
                margin-bottom : 1em;
            }

            &.banner-content {
                font-size   : 1.125rem;
                font-weight : $text-font-weight-light;
            }

            @include laptop() {
                padding-left : 60px
            }
        }
    }
}

.main-wrap {
    background : $list-bg;
    padding    : 30px 0;

    @include laptop {
        padding : 40px 0;

    }

    .inner {
        display        : flex;
        flex-direction : column;
    }

    .main-top {
        display       : flex;
        flex-wrap     : wrap;
        margin-bottom : 10px;

        @include laptop {
            margin-bottom : 60px;

        }

        .order {
            flex  : 0 0 auto;
            width : 120px;
            order : 2;

            @include laptop {
                order : 1
            }
        }

        p {
            @include reset;
            flex          : 1 1 auto;
            text-align    : center;
            font-size     : 1.5rem;
            font-weight   : $text-font-weight-bold;
            word-break    : keep-all;
            margin-bottom : 20px;
            order         : 1;

            @include laptop {
                padding-right : 120px;
                margin-bottom : 0;
                order         : 2;
            }
        }
    }
}

.project-list {
    display               : grid;
    width                 : 100%;
    grid-template-columns : repeat(auto-fill, minmax(260px, 1fr));
    gap                   : 20px;

    @include laptop {
        padding : 0 20px;
    }

    &.no-list {
        flex            : 1 1 auto;
        display         : flex;
        padding-bottom  : 30px;
        justify-content : center;
        align-items     : center;
    }
}