/* Error: Undefined function.
 *   ,
 * 4 |     $red : color.channel($value, "red", $space : rgb);
 *   |            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   abstracts/_function.scss 4:12  function-to-rgb()
 *   base/_property.scss 24:35      light-theme()
 *   base/_property.scss 81:5       @use
 *   style.scss 3:1                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined function.\a   \2577 \a 4 \2502      $red : color.channel($value, "red", $space : rgb);\a   \2502             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   abstracts/_function.scss 4:12  function-to-rgb()\a   base/_property.scss 24:35      light-theme()\a   base/_property.scss 81:5       @use\a   style.scss 3:1                 root stylesheet';
}
