@charset "UTF-8";
:root {
  --text-primary: #222;
  --theme-primary: #c0c5dd;
  --theme-primary-rgb: 192, 197, 221;
  --paper-primary: #fff;
  --paper-secondary: #f9f9f9;
  --paper-endpoint: #eee;
  --component-gap: 20px;
  --component-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.07);
  --component-radius: 8px;
  --component-border-color: #eaeaea;
}

/* 초기화 */
html {
  height: 100vh;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  font-size: clamp(14px, 6px + 1vw, 16px);
  font-weight: 400;
}

body {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body [hidden] {
  display: none !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

button,
select,
input,
textarea,
pre {
  font-family: inherit;
}

ul {
  list-style: none;
}
ul li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus, a:visited {
  color: inherit;
  text-decoration: none;
}

select {
  display: block;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  appearance: none;
}

.blind {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: none !important;
  background: none !important;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-style: normal;
  src: url("../../font/Pretendard-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  src: url("../../font/Pretendard-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src: url("../../font/Pretendard-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("../../font/Pretendard-Bold.woff2") format("woff2");
}
select {
  display: block;
  width: 100%;
  padding-top: var(--component-padding-top);
  padding-right: calc(var(--component-padding-left) * 2);
  padding-bottom: var(--component-padding-top);
  padding-left: var(--component-padding-left);
  box-shadow: var(--component-shadow);
  border: 1px solid var(--component-border-color);
  border-radius: var(--component-radius);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjYiIHZpZXdCb3g9IjAgMCA4IDYiPjxwYXRoIGQ9Ik00LDAsOCw2SDBaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4IDYpIHJvdGF0ZSgxODApIi8+PC9zdmc+");
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) center;
  font-size: 14px;
  line-height: 1.5em;
}
select:hover, select:focus {
  border: 1px solid var(--component-border-hover-color);
}

.ul-table, .ul-table-border {
  display: flex;
  flex-direction: column;
}
.ul-table .ul-table-row > .con, .ul-table-border .ul-table-row > .con, .ul-table .ul-table-row > .tit, .ul-table-border .ul-table-row > .tit {
  padding: 8px 0;
}
.ul-table-border > .ul-table-row > .tit, .ul-table-border > .ul-table-row > .con {
  padding: 8px 10px;
}
.ul-table-row {
  display: flex;
  flex: 1 0 auto;
}
.ul-table-row > .tit {
  flex: 0 0 auto;
  padding-right: 10px;
  font-weight: 500;
  color: #999999;
}
@media (min-width: 1020px) {
  .ul-table-row > .tit {
    flex-basis: 120px;
  }
}
.ul-table-row > .con {
  flex: 1 1 100%;
}
.ul-table-row.has-child-table > .con {
  padding: 0;
}
@media (max-width: 767px) {
  .ul-table-row.has-child-table {
    flex-wrap: wrap;
  }
  .ul-table-row.has-child-table > .tit {
    flex: 1 1 100%;
  }
}
.ul-table-border > .ul-table-row {
  border-bottom: 1px solid #DDDDDD;
}
.ul-table-border > .ul-table-row:last-child {
  border-bottom-width: 0;
}
.ul-table-border .ul-table-border .tit {
  padding-left: 10px;
}
@media (min-width: 1020px) {
  .ul-table .ul-table, .ul-table-border .ul-table, .ul-table .ul-table-border, .ul-table-border .ul-table-border {
    height: 100%;
  }
}

.ui-list > li, .ui-list-circle > li, .ui-list-explanation > li {
  position: relative;
  padding-left: 1.25em;
}
.ui-list > li::before, .ui-list-circle > li::before, .ui-list-explanation > li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  font-size: inherit;
  line-height: inherit;
}
.ui-list-explanation > li:before {
  content: "※";
}
.ui-list-circle > li:before {
  content: "⚬";
}

.project-item {
  padding: 20px;
  border: 1px solid var(--component-border-color);
  border-radius: var(--component-radius);
  background: #fff;
}
.project-item .project-item-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.project-item .project-item-inner .thumbnail {
  flex: 0 0 auto;
  width: 100%;
  margin-bottom: 16px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--component-border-color);
}
.project-item .project-item-inner .thumbnail div {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 130px;
  border: 1px solid var(--component-border-color);
}
.project-item .project-item-inner .thumbnail div img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
.project-item .project-item-inner .thumbnail div img.no-image {
  background: var(--paper-endpoint);
  object-fit: scale-down;
  object-position: center;
}
.project-item .project-item-inner .info {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding: 0 4px;
}
.project-item .project-item-inner .info .info-important {
  display: flex;
  flex: 1 0;
  align-content: flex-start;
  margin-bottom: 4px;
}
.project-item .project-item-inner .info .info-important h2 {
  flex: 1 1 auto;
  max-width: 100%;
  padding-right: 4px;
  font-weight: 700;
  word-break: break-all;
}
.project-item .project-item-inner .info .info-important .tags {
  flex: 0 0 auto;
  flex-wrap: nowrap;
  margin-left: auto;
}
.project-item .project-item-inner .info .info-detail {
  display: flex;
  font-size: 0.875rem;
}
.project-item .project-item-inner .info .info-detail .type {
  flex: 1 0 auto;
}
.project-item .project-item-inner .info .info-detail .type .projectType {
  margin-right: 4px;
  text-transform: uppercase;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: -2px;
  font-weight: 400;
}
.tags .tag {
  flex: 0 0 auto;
  margin: 2px;
  padding: 2px 10px;
  border: 1px solid #000;
  border-radius: 30px;
  font-size: 12px;
}

.accordion-item .accordion-title {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  line-height: 1;
  color: inherit;
  cursor: pointer;
  vertical-align: top;
  touch-action: manipulation;
  text-decoration: none;
  -webkit-appearance: none;
  user-select: none;
  outline: none;
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid var(--text-primary);
  font-size: 1.14em;
}
.accordion-item .accordion-title:before,
.accordion-item .accordion-title i,
.accordion-item .accordion-title span {
  position: relative;
}
.accordion-item .accordion-title:disabled {
  cursor: default;
  pointer-events: none;
}
.accordion-item .accordion-title span {
  flex: 0 1 auto;
  width: 100%;
  font-weight: 700;
  text-align: left;
}
.accordion-item .accordion-title i {
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 24px;
  height: 24px;
  margin-left: auto;
  background: rgba(var(--theme-primary-rgb), 0.4);
  border-radius: 50%;
}
.accordion-item .accordion-title i svg {
  width: 18px;
  height: 18px;
  transition: all 0.2s;
  object-fit: contain;
  object-position: center;
}
.accordion-item .accordion-box {
  display: none;
  padding: 8px;
}
.accordion-item[data-expended=true] .accordion-title i svg {
  transition: all 0.2s;
  transform: rotate(0.5turn);
}
.accordion-item[data-expended=true] .accordion-box {
  display: block;
}
@media (min-width: 1020px) {
  .accordion-item .accordion-title i {
    display: none;
  }
  .accordion-item .accordion-box {
    display: block;
  }
}

main {
  position: relative;
}
main .profile-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 200px;
  z-index: 1;
}
main .inner {
  position: relative;
  display: flex;
  gap: var(--inner-padding);
  flex-direction: column;
  align-items: center;
  padding: 134px var(--inner-padding) var(--inner-padding);
  z-index: 2;
  --inner-padding: calc(var(--component-gap) * 1.6);
}
@media (min-width: 1020px) {
  main .inner {
    flex-direction: row;
    align-items: flex-start;
  }
}
main .inner .profile {
  flex: 0 1 auto;
  width: 100%;
  padding: var(--component-gap);
}
@media (min-width: 1020px) {
  main .inner .profile {
    flex: 0 0 auto;
    width: 360px;
  }
}
main .inner .projects {
  flex: 0 1 auto;
  width: 100%;
}
@media (min-width: 1020px) {
  main .inner .projects {
    margin-top: 66px;
    padding-top: var(--inner-padding);
  }
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: var(--component-gap);
  width: 100%;
}
.project-list.no-list {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 54px;
  font-size: 1.14rem;
  z-index: 10;
  backdrop-filter: blur(30px);
}
header .inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}
header .inner h1 {
  font-size: 1.14em;
}
header .inner nav {
  margin-left: auto;
}
header .inner nav ul {
  display: flex;
  gap: 12px;
}

.profile .avatar {
  width: 80px;
  height: 80px;
  margin: 0 auto var(--component-gap);
  border: 1px solid var(--component-border-color);
  border-radius: 50%;
  background-color: var(--paper-secondary);
}
.profile .profile-list {
  display: flex;
  gap: 4px;
  flex-direction: column;
}
.popup-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 300;
}
.popup-wrap .popup {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 1.5rem);
  max-width: 1000px;
  height: auto;
  max-height: calc(100vh - 1.5rem);
  border-radius: var(--popup-radius);
  background: #F5F5FC;
  z-index: 1;
}
@media (min-width: 1020px) {
  .popup-wrap .popup {
    width: calc(100vw - 36px);
    min-width: 1000px;
  }
}
.popup-wrap .popup .popup-header {
  display: flex;
  flex: 0 0 50px;
  padding: 10px 20px 5px 20px;
}
@media (min-width: 1020px) {
  .popup-wrap .popup .popup-header {
    padding: 18px 36px 9px 36px;
  }
}
.popup-wrap .popup .popup-header h1 {
  flex: 1 0 0;
  font-size: 1.75em;
}
.popup-wrap .popup .popup-header .btn-close {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  line-height: 1;
  color: inherit;
  cursor: pointer;
  vertical-align: top;
  touch-action: manipulation;
  text-decoration: none;
  -webkit-appearance: none;
  user-select: none;
  outline: none;
  width: 40px;
  height: 40px;
  transform: translate(6px, -1.5px);
  position: relative;
  flex: 0 0 auto;
}
.popup-wrap .popup .popup-header .btn-close:before,
.popup-wrap .popup .popup-header .btn-close i,
.popup-wrap .popup .popup-header .btn-close span {
  position: relative;
}
.popup-wrap .popup .popup-header .btn-close:disabled {
  cursor: default;
  pointer-events: none;
}
.popup-wrap .popup .popup-header .btn-close::before, .popup-wrap .popup .popup-header .btn-close::after {
  content: "";
  position: absolute;
  height: 24px;
  width: 2px;
  left: calc(50% - 1px);
  top: calc(50% - 12px);
  background-color: #000;
}
.popup-wrap .popup .popup-header .btn-close::before {
  transform: rotate(-45deg);
}
.popup-wrap .popup .popup-header .btn-close::after {
  transform: rotate(45deg);
}
.popup-wrap .popup .popup-container {
  flex: 0 1 auto;
  overflow: auto;
  margin: 0 20px 20px 20px;
  padding: 15px;
  border-radius: var(--popup-radius);
  background: #fff;
}
@media (min-width: 1020px) {
  .popup-wrap .popup .popup-container::-webkit-scrollbar {
    width: 16px;
  }
  .popup-wrap .popup .popup-container::-webkit-scrollbar-thumb {
    width: 6px;
    background: #DDDDDD;
    border-radius: 10px;
    background-clip: padding-box;
    border: 5px solid transparent;
  }
  .popup-wrap .popup .popup-container::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
  }
}
@media (min-width: 1020px) {
  .popup-wrap .popup .popup-container {
    margin: 0 36px 36px 36px;
    padding: 27px;
  }
}
.popup-wrap .dim {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

main {
  background: var(--paper-secondary);
}
main .profile-background {
  background: var(--theme-primary);
}
main .inner .profile {
  box-shadow: var(--component-shadow);
  border-radius: var(--component-radius);
  background: var(--paper-primary);
}
.project-detail .etc-info h2, .project-detail .file-info h2, .project-detail .default-info h2 {
  margin-bottom: 12px;
  font-size: 1.125rem;
  color: var(--secondary);
}
.project-detail section + section {
  margin-top: 24px;
}
.project-detail .default-info {
  display: flex;
  flex-wrap: wrap;
}
.project-detail .default-info h2 {
  flex: 0 0 100%;
}
.project-detail .default-info .thumbnail {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
@media (min-width: 1020px) {
  .project-detail .default-info .thumbnail {
    flex: 0 0 340px;
    margin-right: 30px;
  }
}
.project-detail .default-info .thumbnail .image-area {
  flex: 1 0 auto;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 10px;
  order: 2;
}
@media (min-width: 1020px) {
  .project-detail .default-info .thumbnail .image-area {
    order: 1;
  }
}
.project-detail .default-info .thumbnail .image-area img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.project-detail .default-info .thumbnail .image-area img.no-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: none;
}
.project-detail .default-info .thumbnail .tags {
  flex: 0 0 auto;
  margin-bottom: 8px;
}
@media (min-width: 1020px) {
  .project-detail .default-info .thumbnail .tags {
    margin-bottom: 0;
    order: 1;
  }
}
.project-detail .default-info .info {
  flex: 1 1 100%;
}
@media (min-width: 1020px) {
  .project-detail .default-info .info {
    flex-basis: 0;
  }
}
.project-detail .default-info .info .member span + span::before {
  content: ",";
  display: inline-block;
  padding: 0 0.3em 0 0.1em;
}
.project-detail .file-info .file-data {
  word-break: break-all;
}
.project-detail .file-info .file-data a {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  width: 22px;
  height: 22px;
  margin-right: 6px;
  border: 1px solid var(--gray-endpoints);
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  line-height: 22px;
  vertical-align: text-top;
  transition: all 0.3s;
  transform: translateY(2px);
}
.project-detail .file-info .file-data a i {
  display: inline-flex;
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  padding: 3px;
}
.project-detail .file-info .file-data a i svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.project-detail .file-info .file-data a i svg .icon-point {
  fill: var(--text-base-color);
}
.project-detail .file-info .file-data a span {
  flex: 0 0 auto;
  overflow: hidden;
  height: 100%;
  font-size: 0.8em;
  transform: translateY(-1px);
}
.project-detail .file-info .file-data a:hover {
  width: 104px;
  border-color: transparent;
  background: linear-gradient(90deg, var(--secondary) 0%, var(--primary) 100%);
}
.project-detail .file-info .file-data a:hover i svg {
  opacity: 1;
}
.project-detail .file-info .file-data a:hover i svg .icon-point {
  fill: #fff;
}
.project-detail .file-info .file-data a:hover span {
  width: auto;
  color: #fff;
}
.project-detail .file-info .file-data div + .file-explanation {
  margin-top: 0;
}
.project-detail .file-info .file-data .file-explanation {
  margin-top: 2px;
  font-size: 0.875em;
  color: var(--gray-endpoints);
}
.project-detail .file-info .file-data .file-explanation + div {
  margin-top: 8px;
}

/*# sourceMappingURL=style.css.map */
