main {
    position : relative;

    .profile-background {
        position : absolute;
        top      : 0;
        left     : 0;
        right    : 0;
        width    : 100%;
        height   : $profile-height;
        z-index  : 1;
    }

    .inner {
        $profile-top    : $header-height + $profile-background-gap;
        position        : relative;

        display         : flex;
        gap             : var(--inner-padding);
        flex-direction  : column;
        align-items     : center;
        padding         : $profile-top var(--inner-padding) var(--inner-padding);
        z-index         : 2;
        --inner-padding : calc(var(--component-gap) * 1.6);

        @include laptop {
            flex-direction : row;
            align-items    : flex-start;
        }

        .profile {
            flex    : 0 1 auto;
            width   : 100%;
            padding : var(--component-gap);

            @include laptop {
                flex  : 0 0 auto;
                width : 360px;
            }
        }

        .projects {
            flex  : 0 1 auto;
            width : 100%;

            @include laptop {
                margin-top  : $profile-height - $profile-top;
                padding-top : var(--inner-padding);
            }
        }

    }
}

.project-list {
    display               : grid;
    grid-template-columns : repeat(auto-fill, minmax(260px, 1fr));
    gap                   : var(--component-gap);
    width                 : 100%;


    &.no-list {
        display         : flex;
        flex            : 1 1 auto;
        align-items     : center;
        justify-content : center;
        padding-bottom  : 30px;
    }
}