header {
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    width           : 100%;
    height          : $header-height;
    font-size       : 1.14rem;
    z-index         : 10;
    backdrop-filter : blur(30px);

    .inner {
        display     : flex;
        align-items : center;
        width       : 100%;
        height      : 100%;
        padding     : 0 20px;

        h1 {
            font-size : 1.14em;
        }

        nav {
            margin-left : auto;

            ul {
                display : flex;
                gap     : 12px;
            }

        }
    }
}
