header {
    width : 100%;
}

.ui-global {
    $search-height  : 3rem;
    $search-padding : 0 2rem;

    background : var(--header-bg);

    .ui-header {
        display     : flex;
        flex-wrap   : wrap;
        align-items : center;
        padding     : 0.75rem 10px;

        .logo {
            @include reset;
            @include laptop {
                width : 206px;
            }

            flex        : 1 1 auto;
            width       : 100%;
            max-width   : $logo-max-width;
            height      : $search-height;
            max-height  : calc($search-height - 8px);
            margin      : 4px 6px;

            a {
                display     : flex;
                align-items : center;
                width       : 100%;
                height      : 100%;

                svg {
                    * {
                        fill : #fff;
                    }
                }
            }

        }

        .search-area {
            display         : flex;
            flex            : 1 1 auto;
            align-items     : center;
            justify-content : center;
            margin          : 4px 6px;

            font-size : 1.125rem;

            .search {
                @include laptop {
                    flex-grow : 0;
                    width     : 600px;
                    transform : translateX(calc($logo-max-width / 2 *-1 + 40px));
                }

                display  : flex;
                flex     : 1 1 auto;

                .search-input {
                    position : relative;
                    flex     : 1 1 auto;
                    margin   : 0 10px 0 0;

                    input {
                        @include reset-text-field;
                        position      : relative;
                        display       : block;
                        height        : $search-height;
                        padding       : $search-padding;
                        background    : #fff;
                        border-radius : calc($search-height / 2);

                    }

                    button {
                        @include reset-button;
                        @include closeIcon(2em, .8em, #444);
                        
                        position      : absolute;
                        top           : 50%;
                        right         : .5em;
                        display       : block;
                        width         : 2em;
                        height        : 2em;
                        background    : var(--gary-secondary);
                        border-radius : 100%;
                        transform     : translateY(-50%);

                    }
                }

                .search-button {
                    @include reset-button;
                    height        : $search-height;
                    padding       : $search-padding;
                    color         : #fff;
                    background    : var(--primary);
                    border-radius : calc($search-height / 2);
                }
            }
        }
    }
}