@use "../../import" as *;

.header {
    position        : absolute;
    top             : 0;
    left            : 0;
    right           : 0;
    display         : flex;
    align-items     : center;
    width           : 100%;
    height          : $size-header-height;
    padding         : 0 var(--inner-padding);
    font-size       : 1.14rem;
    z-index         : 10;
    backdrop-filter : blur(12px);

    @include media-tablet {
        position : fixed;
        top      : 0;
        left     : 0;
        right    : 0;

    }

    &__logo {
        font-size : 1.14em;
    }

    &__navigation {
        margin-left : auto;

        & > ul {
            display     : flex;
            gap         : 20px;
            align-items : center;

            li {
                a {
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    height          : 32px;
                }
            }
        }

    }
}
