@use "sass:math" as math;
@use "../../import" as *;

.sy-dialog {
    $mobile-padding     : 20px;
    $laptop-padding     : 36px;
    position            : fixed;
    top                 : 0;
    bottom              : 0;
    left                : 0;
    right               : 0;
    display             : flex;
    align-items         : center;
    justify-content     : center;
    background          : rgba(0, 0, 0, 0.4);
    z-index             : 300;
    overscroll-behavior : contain;

    &__inner {
        position            : relative;
        display             : flex;
        flex-direction      : column;
        width               : 100vw;
        height              : 100svh;
        background          : var(--paper-secondary);
        z-index             : 1;
        overscroll-behavior : contain;

        @include media-laptop {
            width         : calc(100vw - $laptop-padding);
            height        : auto;
            max-height    : calc(100svh - $laptop-padding);
            box-shadow    : var(--component-shadow);
            border-radius : var(--popup-radius);
        }
    }

    &__title {
        display     : flex;
        flex        : 0 0 50px;
        align-items : center;
        padding     : math.div($mobile-padding, 2) $mobile-padding;

        @include media-laptop {
            padding : math.div($laptop-padding, 2) $laptop-padding;
        }

        & > h1 {
            flex        : 1 0 0;
            font-size   : 1.750em;
            line-height : 1.3em;

            span {
                background              : linear-gradient(152deg, var(--theme-secondary) 5%, var(--theme-primary) 60%);
                -webkit-background-clip : text;
                -webkit-text-fill-color : transparent;
            }
        }


    }

    &__close {
        @include reset-button;
        @include mixin-closeIcon(40px, 24px, var(--text-primary));
        position      : relative;
        flex          : 0 0 auto;
        border-radius : 50%;

        &:hover {
            background : rgba(var(--base-revers-rgb), 0.08);
        }
    }

    &__container {
        @include mixin-scrollbar();
        flex                : 0 1 auto;
        overflow            : auto;
        padding             : 0 $mobile-padding $mobile-padding $mobile-padding;
        overscroll-behavior : contain;

        @include media-laptop {
            padding          : 0 ($laptop-padding - 16px) $laptop-padding $laptop-padding;
            scrollbar-gutter : stable;
        }
    }
}
