@use "../../import" as *;

.projects {
    display               : grid;
    grid-template-columns : repeat(auto-fill, minmax(260px, 1fr));
    gap                   : var(--component-gap);
    width                 : 100%;


    &--no-child {
        display         : flex;
        flex            : 1 1 auto;
        align-items     : center;
        justify-content : center;
        height          : 300px;
    }
}

.project {
    display        : flex;
    flex-direction : column;
    height         : 100%;
    padding        : 16px;
    border         : 1px solid var(--component-border-color);
    border-radius  : var(--component-radius);
    background     : var(--paper-primary);


    &__thumbnail {
        flex          : 0 0 auto;
        width         : 100%;
        margin-bottom : 12px;
        border-bottom : 1px solid var(--component-border-color);

        div {
            position     : relative;
            overflow     : hidden;
            width        : 100%;
            border       : 1px solid var(--component-border-color);
            background   : var(--paper-endpoint);
            aspect-ratio : 1 / 0.6;

            img {
                display         : block;
                width           : 100%;
                height          : 100%;
                object-fit      : cover;
                object-position : center;
            }
        }
    }

    &__info {
        display        : flex;
        gap            : 4px;
        flex           : 1 0 auto;
        flex-direction : column;
        padding        : 0 4px;

        &__important {
            display       : flex;
            flex          : 0 0 auto;
            align-content : flex-start;

            h2 {
                flex        : 1 1 auto;
                max-width   : 100%;
                font-size   : 15px;
                font-weight : $font-weight-medium;

                span {
                    word-break : keep-all;
                    word-wrap  : break-word;
                }
            }

            .tags {
                flex        : 0 0 auto;
                flex-wrap   : nowrap;
                margin-left : auto;
            }

        }

        &__detail {
            display   : flex;
            font-size : 13px;
            color     : var(--text-secondary);

            .type {
                flex : 1 0 auto;

                .projectType {
                    margin-right   : 4px;
                    text-transform : uppercase;
                }
            }
        }

        &__skills {
            flex       : 0 0 auto;
            margin-top : auto;
            font-size  : 12px;
        }
    }
}
