@use "../../import" as *;

.profile {
    &__card {
        display         : flex;
        gap             : 16px;
        flex-wrap       : wrap;
        align-items     : center;
        justify-content : center;
        padding         : 8px;

        &__avatar {
            flex : 0 0 auto;
            @include mixin-avatar(120px);
        }

        &__info {
            display        : flex;
            gap            : 2px;
            flex-direction : column;

            &__title {
                font-size : 1.29em;
                @media (max-width : 347px) {
                    text-align : center;
                }
            }

            &__sub-title {
                margin-bottom : 8px;
                font-size     : 14px;
                @media (max-width : 347px) {
                    text-align : center;
                }
            }

            &__content {
                font-size : 12px;
                color     : var(--text-secondary);

                & > li {
                    & > * {
                        @include mixin-icons(var(--text-endpoint));
                    }

                    a {
                        &:visited,
                        &:link {
                            color : var(--text-endpoint);
                        }

                        &:hover {
                            color           : var(--text-endpoint);
                            text-decoration : underline;
                        }
                    }
                }
            }
        }
    }

    &__blocks {
        display        : flex;
        gap            : 4px;
        flex-direction : column;
        padding        : 8px;
    }

    .introduce {
        &__title {
            margin-bottom           : 12px;
            background              : linear-gradient(170deg, var(--theme-primary) 39%, var(--theme-secondary) 100%);
            -webkit-background-clip : text;
            font-size               : 1.5em;
            font-weight             : $font-weight-light;
            line-height             : 1.3em;
            -webkit-text-fill-color : rgba(0, 0, 0, 0);
        }

        & > p {
            line-height : 1.5em;
        }
    }

    .skills {
        display        : flex;
        gap            : 24px;
        flex-direction : column;
        @include media-laptop {
            flex-wrap : nowrap
        }

        &__item {
            display        : flex;
            gap            : 8px;
            flex-direction : column;
            flex-wrap      : wrap;
            width          : 100%;

            &__title {
                display        : flex;
                align-items    : center;
                font-size      : 1.14em;
                font-weight    : $font-weight;
                line-height    : 1.6em;
                text-transform : uppercase;

                i {
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    width           : 20px;
                    height          : 20px;
                    margin-right    : 4px;
                    border-radius   : 50%;
                    background      : var(--theme-primary);

                    & > svg {
                        stroke : #FFFFFF;
                    }
                }

                span {
                    margin-right : 2px;
                }
            }

            &__box {
                display        : flex;
                gap            : 12px;
                flex-direction : column;

            }
        }

        .skills__icon {
            display         : flex;
            align-items     : center;
            justify-content : center;
            width           : 32px;
            height          : 32px;

            & > svg {
                display         : block;
                width           : 100%;
                height          : 100%;
                object-fit      : contain;
                object-position : center;
            }
        }
    }

    .experience {
        display        : flex;
        gap            : 8px;
        flex-direction : column;
    }
}