@mixin button {
    position           : relative;
    display            : inline-flex;
    align-items        : center;
    justify-content    : center;
    box-sizing         : border-box;
    flex-shrink        : 0;
    max-width          : 100%;
    margin             : 0;
    padding            : 0;
    border             : none;
    border-radius      : 0;
    box-shadow         : none;
    background         : transparent;
    font-family        : inherit;
    font-size          : inherit;
    font-weight        : normal;
    line-height        : 1;
    color              : inherit;
    cursor             : pointer;
    vertical-align     : top;
    touch-action       : manipulation;
    text-decoration    : none;
    -webkit-appearance : none;
    user-select        : none;

    &:before,
    i,
    span {
        position : relative;
    }

    &:disabled {
        cursor         : default;
        pointer-events : none;
    }
}

@mixin text-field {
    -webkit-appearance : none;
    display            : flex;
    align-items        : center;
    width              : 100%;
    margin             : 0;
    border-radius      : inherit;
    border             : none;
    background         : none;
    font-family        : inherit;
    font-size          : inherit;
    color              : inherit;
    text-indent        : 0;
    line-height        : 1;
    outline            : none;

    &:disabled {
        pointer-events : none;
    }
}