//color
$theme-primary        : #7A2AD9;
$theme-secondary      : #EA1E63;

$theme-dark-primary   : #C197F3;
$theme-dark-secondary : #FF79A4;


$white                : #FFFFFF;
$black                : #000000