//color
$color-theme-primary        : #7A2AD9;
$color-theme-secondary      : #EA1E63;

$color-theme-dark-primary   : #C197F3;
$color-theme-dark-secondary : #FF79A4;

$color-white                : #FFFFFF;
$color-black                : #000000