//color
$theme-primary        : #7A2AD9;
$theme-secondary      : #EA1E63;

$theme-dark-primary   : #c197f3;
$theme-dark-secondary : #ff79a4;


$white                : #FFFFFF;
$black                : #000000