$font-family        : "Pretendard";
$font-family-list   : $font-family, -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;

$font-weight-light  : 100;
$font-weight        : 400;
$font-weight-medium : 500;
$font-weight-bold   : 700;

$font-size          : 14px;