$family        : "Pretendard";
$family-list   : $family, -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;

$weight-light  : 100;
$weight        : 400;
$weight-medium : 500;
$weight-bold   : 700;

//$text-font-size-old      : clamp(14px, calc(6px + 1vw), 16px);
$size          : 14px;