@use "sass:math" as math;
@use "sass:selector";

@mixin mobile {
    @media (max-width : #{$tablet-break-point - 1}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width : #{$tablet-break-point}) {
        @content;
    }
}

@mixin laptop {
    @media (min-width : #{$laptop-break-point}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width : #{$desktop-break-point}) {
        @content;
    }
}

@mixin clip {
    position   : absolute !important;
    overflow   : hidden !important;
    clip       : rect(0, 0, 0, 0) !important;
    width      : 1px !important;
    height     : 1px !important;
    margin     : -1px !important;
    border     : none !important;
    background : none !important;
}

@mixin text-truncate {
    overflow      : hidden;
    text-overflow : ellipsis;
    white-space   : nowrap;
}

@mixin unify-parent($child) {
    @at-root #{selector.unify(&, $child)} {
        @content;
    }
}

@mixin scrollbar($thumbColor : $point-primary) {
    @include tablet() {

        &::-webkit-scrollbar {
            width : 16px;
        }

        &::-webkit-scrollbar-thumb {
            width           : 6px;
            background      : $thumbColor;
            border-radius   : 10px;
            background-clip : padding-box;
            border          : 5px solid transparent;
        }

        &::-webkit-scrollbar-track {
            background-color : rgba(0, 0, 0, 0);
        }
    }
}

@mixin multi-text-truncate($rows) {
    display            : block;
    display            : -webkit-box;
    -webkit-box-orient : vertical;
    -webkit-line-clamp : $rows;
    overflow           : hidden;
}


@mixin avatar($size : 92px) {
    width            : $size;
    height           : $size;
    border           : 1px solid var(--component-border-color);
    border-radius    : 50%;
    background-color : var(--paper-secondary);
}

@mixin icons($iconColor : var(--theme-primary)) {
    display     : flex;
    align-items : center;
    gap         : 4px;

    & > i {
        align-items     : center;
        flex            : 0 0 auto;
        display         : flex;
        justify-content : center;

        & > svg {
            width           : 1em;
            height          : 1em;
            object-fit      : contain;
            object-position : center;
            stroke          : $iconColor;
        }
    }
}

@mixin closeIcon($area:40px, $bar:24px, $color:#000) {
    $barHafl    : math.div($bar, 2);
    $barQuarter : math.div($bar, 4);

    width       : $area;
    height      : $area;
    transform   : translate($barQuarter, - math.div($barQuarter, 4));

    &::before,
    &::after {
        content          : "";
        position         : absolute;
        height           : $bar;
        width            : 2px;
        left             : calc(50% - 1px);
        top              : calc(50% - $barHafl);
        background-color : $color;
    }

    &::before {
        transform : rotate(-45deg);
    }

    &::after {
        transform : rotate(45deg)
    }
}