// fonts
$custom-font-family      : "Pretendard";
$font-family             : $custom-font-family, -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
$text-font-size          : clamp(14px, calc(6px + 1vw), 16px);
$input-font-size         : 14px;
$text-font-weight-light  : 100;
$text-font-weight        : 400;
$text-font-weight-medium : 500;
$text-font-weight-bold   : 700;

// layout
$tablet-break-point      : 768px;
$laptop-break-point      : 1020px;
$desktop-break-point     : 1920px;

$window-max-width        : 1200px;
$logo-max-width          : 140px;

$header-height           : 54px;
$profile-height          : 200px;
$profile-background-gap  : 80px;

//color
$theme-primary : #c0c5dd;

:root {
    --text-primary           : #222;
    --theme-primary          : #{$theme-primary};
    --theme-primary-rgb      : #{to-rgb($theme-primary)};
    --paper-primary          : #fff;
    --paper-secondary        : #f9f9f9;
    --paper-endpoint         : #eee;
    --component-gap          : 20px;
    --component-shadow       : 1px 1px 8px 0 rgba(0, 0, 0, 0.07);
    --component-radius       : 8px;
    --component-border-color : #eaeaea;
}