// fonts
$custom-font-family      : "Pretendard";
$font-family             : $custom-font-family, -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
//$text-font-size-old      : clamp(14px, calc(6px + 1vw), 16px);
$text-font-size          : 14px;
$input-font-size         : 14px;
$text-font-weight-light  : 100;
$text-font-weight        : 400;
$text-font-weight-medium : 500;
$text-font-weight-bold   : 700;

// layout
$tablet-break-point      : 768px;
$laptop-break-point      : 1020px;
$desktop-break-point     : 1920px;

$window-max-width        : 1200px;
$logo-max-width          : 140px;

$header-height           : 54px;
$profile-height          : 200px;
$profile-background-gap  : 80px;

//color
$theme-primary           : #7a2ad9;
$theme-secondary         : #ea1e63;